# Database Connection
DATABASE_URL="postgresql://user:password@localhost:5433/querybook"

# Authentication
JWT_SECRET="super_secret_key"

# Redis (Optional)
REDIS_URL="redis://localhost:6379"

# Mail Config
SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_USER="user"
SMTP_PASS="password"

# App Config
PORT=5001
NEXT_PUBLIC_API_URL="http://localhost:5001/api"
